<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robovisor">

	<!-- includes -->
	<xacro:include filename="includes/*"/>

	<!-- gazebo -->
	<xacro:include filename="gazebo/*"/>

	<!-- components -->
	<xacro:include filename="components/*"/>
	
	<link name="base_footprint"/>

	<link name="base_link"/>

	<joint name="base_footprint_joint" type="fixed">
		<parent link="base_link"/>
		<child link="base_footprint"/>
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</joint>

</robot>