<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robovisor">

	<link name="roof_link">
		<visual>
			<geometry>
				<cylinder radius="${roof_radius}" length="${roof_length}"/>
			</geometry>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<material name="body_color">
				<color rgba="${white}"/>
			</material>
		</visual>

		<collision>
			<geometry>
				<cylinder radius="${roof_radius}" length="${roof_length}"/>
			</geometry>
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</collision>

		<xacro:inertial_cylinder mass="1" radius="${roof_radius}" length="${roof_length}">
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</xacro:inertial_cylinder>
	</link>

	<joint name="roof_joint" type="fixed">
		<parent link="chassis_link"/>
		<child link="roof_link"/>
		<origin xyz="0 0 ${pillar_height}" rpy="0 0 0"/>
	</joint>

</robot>